
    <nav class="navigation">
      <a href="/" class="brand-name">
        Home
      </a>
      <div
        class="navigation-menu"
      >
        <ul>
          <li>
            <a
              href="/invitations"
            >
              Annouces
            </a>
          </li>
          <li>
            <a
              href="/new"
            >
              Ajouter Announce
            </a>
          </li>
          <li>
            <a
              
              href="/profile"
            >
            
              Profile
            </a>
          </li>
          <li  >
            <a href="/logout" class="logOut-icon">
                Deconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>

